body{
	font-family: 'News Cycle', 'Helvetica', 'Arial', 'sans-serif';
	text-align:justify;
	counter-reset: footnotes figures;
	font-weight:bold;
	font-size:106%;
}

a{
	text-decoration:none;
}

sup{
	line-height:1em;
	vertical-align: super;
	font-size:60%;
}

ul, ol, figure{
	margin-bottom:2em;
}

.clear{
	clear:both;
}

table{
	margin-left: -2em;
	margin-top:1em;
	margin-bottom:1em;
	font-size:70%;
	
}
th + th{
	border-left:1px solid black;
}
td{
	background:black;
	color:white;
	border-top:1px solid black;
}
td + td{
	border:1px solid grey;
}
th, td:first-child{
	background:#bbb;
	color:black
}
td, th{
	padding:0.7em;
}
p{
	margin-bottom:1em;
	line-height:1.3em;
}

p:not(:first-of-type):not(.no-indent){
	text-indent: -2em;
}

figure img{
	width:100%;	
}

figure:not(.no-counter){
	counter-increment: figures;
}

figure:not(.no-counter):before{
	content: counter(figures,upper-roman);
}

figure:before{
	margin-left:-2em;
	position:absolute;
}

div.footnotes{
	margin-left:-2em;
	font-size:60%;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}

div.footnotes ol{
	list-style-type: upper-roman;
}

div.footnotes ol li:before{
  font-weight:bold;
	counter-increment: footnotes;
	content:counter(footnotes) "  ";
}

strong{
	font-weight:bold;
}

ul li{
   list-style: square outside url("../img/cross.svg");
	margin-left:-1em;
	padding-left:1em;
}

ol li{
   list-style: upper-roman outside;
	margin-left:-1em;
	padding-left:1em;
}

h1{
	font-size: 200%;
	font-weight: bold;
	padding-bottom:10px;
}

h2{
	font-size: 130%;
	font-weight: bold;
}

h3{
	font-weight:bold;
	font-size: 120%;
}

h3.introduction, h3.conclusion{
	font-size: 90%;
	font-weight:normal;
}

h4{
	font-weight:bold;
	margin:1em 0 0 0;
}

h5{
	text-decoration:underline;
}

section.references h2, section.figures h2, section.colophon h2 {
	font-size: 100%;
	font-weight: bold;
	margin-left:30px;
}

section{
	clear:both;
	padding:1em 0px 2em 0px;
}

section.colophon .colophon_footer{
	font-size:70%;
	column-count: 3;
   -webkit-column-count: 3;
   -moz-column-count: 3;
}
	
.essay-link .number, .essay-link .title{
	display:none;
}/* for this, we assume that people print on a4 */

body {
  font-size: 12pt; /*will be used in the main content */
}

.frontcover h1{
	page-break-before: always;
	font-size: 16pt !important;
}

nav.index{
	font-size: 10pt;
	 /* trying to find a way to target different tags inside this div. issue: some css properties are changeable - for example, font-family and color - others are not - for example, font-size. (?!) */
}

nav.index ul li a{
	color:black;
}

nav.index ul li {
	list-style:none;
}

nav.index .essay-link .number {
	display:block;
}

nav.index ul li a.page-number{
 	content:'page ' target-counter(attr(href), page);
 	color: black !important;
}

.essay {
  counter-increment: chapternum;
  page-break-before: always;
}

h2.title{
	string-set: doctitle content(); 
	/* retrieves the content from h2.title - will be used later, in the page bottom*/
}

.references{
	string-set: doctitle '';
	/* clears the page bottom text (otherwise, the title of the last essay will be displayed */
} 

section header{
	height: 6.5in !important;
	line-height: 2em;
	width: 100% !important;
	position: relative;
}

section header h2.title, section header h2.author{
	display: block;
	position: absolute;
	top: 0;
}

section header h2.title{
	width: 75% !important;
	text-align: left;
	left: 0;
}

section header h2.author{;
	right: 0;
	text-align: right;
	width: 25% !important;
}

section header h2.subtitle{
	text-align: left;
	display: block;
	position: absolute;
	left: 0;
	width: 100% !important;
	bottom: 0;
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

p{
	margin-top: 0.1em;
	margin-bottom: 0.1em !important;
	line-height: 1.1em !important;
}

div.footnotes{
	margin-top: 1cm;
	column-count: 3;
	column-width: 2.6cm;
}

div.footnotes ol, ol li{
	list-style-type: none !important;
	margin-left:0;
	padding-left:1em;
	word-wrap: break-word; /*to wrap long URL's */
}

.footnoteRef sup{
	line-height: 1.1em;
}

table, figure {
  page-break-inside: avoid;
}

table{
	border-collapse: collapse;
}

/*sup{
  vertical-align: super;
  line-height: none;
}*/ /* not working */

.frontcover { 
  page: cover; 
  width: 100%;
  height: 100%; 
}

@page {
  size: 5.5in 8.5in;
  /*half US Letter - will use cm in the rest of the file though*/
  counter-increment: page;
  font-family: sans-serif; /* will be used in the page bottom */
}

@page :left {
  margin-left: 2.3cm;
  margin-right: 1.25cm;
  font-size: 9pt;
  
 @bottom-right{
    margin: 0;
    /* font-family: inherit; */ /* does not work */
    content: string(doctitle);      
  }
  @bottom-left{
  	margin: 0;
  	content: counter(page); 
  }  
  
}

@page :right {
  margin-left: 2.0cm;
  margin-right: 2.00cm;
  font-size: 9pt; 
  
  @bottom-left{
    margin: 0;
    content: string(doctitle);  
    
  }
  @bottom-right{
  	margin: 0;
  	content: counter(page);  
  }
  
}

@page :first {
	
   @bottom-right{
  	margin: 0;
  	content: '';  
   }
}

.essay {
    page: essay;
    prince-page-group: start;
}

@page essay:first{
	
	background-color: black !important;
	
	@bottom-right{
		/*background-color: green;	*/ /* uncomment to verify that the essay title/page number are no longer being printed at the bottom */
		content: ''; /* removes page number and essay title */
	}
	@bottom-left{
		/*background-color: green;	*/ 
		content: ''; 
	}
}
