@import url('style.css');
@import url('print.css');

/*section.colophon .colophon_footer{
	column-count: 3 !important;
}*/
	
body{margin: 0 !important;}
	


nav.index{
	page-break-after:never !important;	
}
	
nav.index ul{
	position: absolute; 
	bottom: 0;
	left:-.5cm;
	width: 100%;
}

nav.index ul li{
	width: 5cm;
	margin: .3cm 0 0 0 !important;
}

nav.index ul li:nth-child(1n) {
	position: relative;
	top: 2cm;
}

nav.index ul li:nth-child(2n) {
	position: relative;
	top: 3cm;
}

nav.index ul li:nth-child(3n) {
	position: relative;
	top: -1.6cm;
	right: -5cm;
	text-align: right;
}

nav.index ul li:nth-child(4n) {
	position: relative;
	top: -0.6cm;
	right: -5cm;
	text-align: right;
}

nav.index ul li a span, nav.index ul li a.author{
	font-size:16pt !important;
	font-weight: bold;
	color: black !important;
}

nav.index .essay-link .number {
	visibility: hidden;
}

section header{
	height: 6.5in !important;
	margin-bottom:0 !important;
}

section header h2.subtitle{
	bottom:0 !important;
	margin-top: 6in !important; /* hack solution, bottom did not seem to be working */
}

section header h2.title, section header h2.author, section header h2.subtitle{
	color: white !important;
}

section h3{font-size: 120%;}
section h4{font-size: 108%;}

.footnoteRef sup, sup{line-height: 0.15em !important;}


ul li{
	width: 10cm;
	margin-left: -0.35cm !important;
}

section.figures ol li{
	width: 10cm;
	/*margin-left: -1.5cm !important;
	padding-left: 0.3em !important;*/
}
	
section.frontcover h1{
	page-break-before: always;
}

ol.numbered li{
	width: 10cm;
	margin-left: -0.15cm !important;
	padding-left: 0.3em !important;
}


@page {
  size: 5.5in 8.5in;
  /*half US Letter - will use cm in the rest of the file though*/
  counter-increment: page;
  font-family: 'News Cycle', sans-serif; /* will be used in the page bottom */
}

@page :left {
  margin-left: 2.3cm;
  margin-right: 1.25cm;
  font-size: 7pt;
  
 @bottom-right{
    margin: 0;
    /* font-family: inherit; */ /* does not work */
    content: string(doctitle);      
  }
  @bottom-left{
  	margin: 0;
  	content: counter(page); 
  }  
  
}

@page :right {
  margin-left: 1.8cm;
  margin-right: 1.8cm;
  font-size: 7pt; 
  
  @bottom-left{
    margin: 0;
    content: string(doctitle);  
    
  }
  @bottom-right{
  	margin: 0;
  	content: counter(page);  
  }
  
}

@page :first {
	
   @bottom-right{
  	margin: 0;
  	content: '';  
   }
}

@page abstract{
	@bottom-right{
		content: ''; /* removes page number  */
	}
	@bottom-left{
		content: ''; 
	}
}

@page black{
	
	background-color: black !important;
	
	@bottom-left{
		content: ''; 
	}

	@bottom-right{
		content: ''; /* removes page number  */
	}
}


@page essay:first{
	
	background-color: black !important;
	
	@bottom-right{
		/*background-color: green;	*/ /* uncomment to verify that the essay title/page number are no longer being printed at the bottom */
		content: ''; /* removes page number and essay title */
	}
	@bottom-left{
		/*background-color: green;	*/ 
		content: ''; 
	}
}

@page empty{
	
	@bottom-right{
		content: ''; /* removes page number  */
	}
	@bottom-left{
		content: ''; 
	}
}
