/* for this print stylesheet, we assume that most people print on a4 */

body {
  font-size: 12pt; 
	font-weight:normal;
	margin:30mm;
}
a{color: black !important;}

.frontcover h1{
	font-size: 16pt !important;
}

.frontcover img{
	page-break-after:always !important;
}

nav.index{
	font-size: 10pt;
	/*  trying to find a way to target different tags inside this div. issue: some css properties are changeable - for example, font-family and color - others are not - for example, font-size. (?!) */
}

nav.index ul li a{
	color:black;
}

nav.index ul li {
	list-style:none;
}

nav.index .essay-link .number {
	display:block;
}

nav.index ul li a.page-number{
 	content:'page ' target-counter(attr(href), page);
 	color: black !important;
}

section.essay {
  counter-increment: chapternum;
  page-break-before: always;
}

h2.title{
	string-set: doctitle content(); 
	/* retrieves the content from h2.title - will be used later, in the page bottom*/
}

p{
	/* margin-bottom doesnt work for some reason */
	padding-bottom:1em !important;
}
.references{
	string-set: doctitle '';
	/* clears the page bottom text (otherwise, the title of the last essay will be displayed */
} 

section header{
	line-height: 2em;
	margin-bottom:6em;
	width: 100% !important;
	position: relative;
}

section header h2.title, section header h2.author{
	display: block;
	position: absolute;
	top: 0;
}

section header h2.title{
	width: 75% !important;
	text-align: left;
	left: 0;
}

section header h2.author{
	right: 0;
	text-align: right;
	width: 25% !important;
}

section header h2.subtitle{
	text-align: left;
	display: block;
	position: absolute;
	left: 0;
	width: 100% !important;
	font-weight:normal;
	top:3.2em;
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

p{
	margin-top: 0.1em;
	margin-bottom: 0.1em !important;
	line-height: 1.1em !important;
}

.footnote-tooltip{
	display:none !important;
}

div.footnotes{
	display:block !important;
	margin-top: 1cm;
	column-count: 3;
	column-width: 2.6cm;
}

div.footnotes ol, ol li{
	list-style-type: none !important;
	margin-left:0;
	padding-left:1em;
	word-wrap: break-word; /*to wrap long URL's */
}

ol.numbered li{
	list-style-type: decimal !important;
}

.footnoteRef sup{
	line-height: 1.1em;
}

table, figure {
  page-break-inside: avoid;
}

table{
	border-collapse: collapse;
}

/*sup{
  vertical-align: super;
  line-height: none;
}*/ /* not working */

.abstract{
	page:abstract;
	/*page-break-before: always;*/
}

.black{
	page:black;
	width: 100%;
   height: 100%; 
	display: block;
}

.blank{
	page:empty;
	width: 100%;
   height: 100%; 
	display: block;
}

.essay {
    page: essay;
    prince-page-group: start;
}

.frontcover { 
  page: cover; 
  width: 100%;
  height: 100%; 
}

section.figures ol li{
	list-style-type: upper-roman !important;
}

ol.numbered li{
	width: 10cm;
	margin-left: -1.5cm !important;
	padding-left: 0.3em !important;
}

section.colophon{page-break-before: always;}

section.colophon p{margin-top: .3cm !important;}

div.colophon_footer{
	text-align: left;
	page-break-before: always;
	page-break-after: always;
}

div.colophon_footer img{
	margin: .15cm 0;
}
