@import url('style.css');
@import url('print.css');

body {
  font-size: 10pt; /*will be used in the main content */
}

ul li{
	width: 10cm;
	margin-left: -1.5cm !important;
	padding-left: 0 !important;
}

/*section.colophon .colophon_footer{
	column-count: 3 !important;
}*/
	
nav.index ul{
	position: absolute; 
	bottom: 0;
	left:-1.5cm;
	width: 100%;
}

nav.index ul li{
	width: 5cm;
	margin: .3cm 0 0 0 !important;
}

nav.index ul li:nth-child(3n) {
	position: relative;
	top: -2.8cm;
	right: 0;
}

nav.index ul li:nth-child(4n) {
	position: relative;
	top: -1.4cm;
	right: -5cm;
}

nav.index ul li a span, nav.index ul li a.author{
	font-size:16pt !important;
	font-weight: bold;
	color: black !important;
}