body{
	max-width:500px;
	margin:0px auto;
}
section header{
	background:black;
	text-align:right;
	width:96%;
	padding:2%;
}

.footnoteRef{
	position:relative;
}

.footnoteRef sup{
	background:black;
	color:white;
	padding:0 2px;
	text-indent: 0;
	border-radius: 3px;
}

a.footnoteRef .footnote-tooltip {
  display:none;
}

a.footnoteRef:hover .footnote-tooltip {
	display:block;
	position:absolute;
	top:30px;
  left:0px;
  margin-left:-150px;
  background:black;
  color:white;
  width:300px;
  font-size:80%;
  padding:5px;
  text-indent:0;
	box-shadow:0px 2px 2px rgba(0,0,0,0.7);
}

section header h2{
	color:white;
	line-height:120%;
}
section header h2.title{
	font-size:110%;
}
section header h2.subtitle{
	font-weight:normal;
	font-size:90%;
}
section header h2.author{
	font-weight:normal;
	font-size:100%;
	font-style:italic;
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover {
    color: #c00;
    text-decoration: none;
}

.frontcover img{
	width:100%;
	height:auto;
}

.frontcover H1, .frontcover .page-number{
	display:none;
} 

@media screen and (max-width:940px){
	body{
		width:100%;
	}
	section.chapter{
		width:96%;	
		margin-left:2%;
	}	
	nav.index{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:40px;
		background:black;
		box-shadow:0px 2px 2px rgba(0,0,0,0.7);
	}
	nav.index ul{
		float:right;
		margin:0;
	}
	nav.index ul li{
		float:left;
		margin:15px;
		list-style:none;
		padding:0;
		line-height:1em;
		display:block;
	}
	nav.index .essay-link {
		color:white;
	}
	nav.index .essay-link :active{
		color:yellow;
	}
	
	nav.index .essay-link .author{
		display:none;
		font-weight:bold;
	}
	
	nav.index .essay-link .number{
		display:inline;
		font-weight:bold;
	}

	nav.index .toggle-menu{
		display:block;
		height:30px;
		width:30px;
		position:absolute;
		top:5px; left:5px;
		background: url('../img/menu-icon.svg');
		background-size:100% 100%;
		border:none;
	}	
	
	nav.index.open{
		height:auto;
		padding-top:40px;
	}
	nav.index.open ul, nav.index.open ul li{
		float:none;
		margin:5px;
	}
	
	nav.index.open .essay-link .author, nav.index.open .essay-link .title{
		display:inline;
	}
	
	nav.index.open .essay-link .title{
		font-size:80%;
	}
	
	.essay{
		padding-top: 40px; margin-top: -40px;
	}
	
}

@media screen and (max-width:650px){
	a.footnoteRef:hover .footnote-tooltip{
		position:fixed;
		left:50%;
		top:50%;
		margin-left:-155px; 
		width:300px;
	}
	
}

@media screen and (min-width:600px){
	
	nav.index .essay-link .author{
		display:inline;
	}
	
	nav.index .essay-link .number{
		display:none;
	}
	
}

@media screen and (min-width:941px){
	.frontcover{
		position:fixed;
		top:0px;
		width:300px;
		margin-left:-375px;
		padding:10px;
		text-align:right;
	}

	.frontcover .index ul li{
		float:none;
		display:block;
	}

	.frontcover .essay-link .author{
		font-size:120%;
		font-weight:bold;
		color:black;
		padding:3px;
	}

	.frontcover img{
		width:100px;
		padding:0;
		float:right;
	}
}