body{
	max-width:500px;
	margin:0px auto;
}
section header{
	background:black;
	text-align:right;
	width:96%;
	padding:2%;
}

.footnoteRef{
	position:relative;
}

.footnoteRef sup{
	background:black;
	color:white;
	padding:0 2px;
	text-indent: 0;
	border-radius: 3px;
}

a.footnoteRef .footnote-tooltip {
  display:none;
}

a.footnoteRef:hover .footnote-tooltip {
	display:block;
	position:absolute;
	top:30px;
  left:0px;
  margin-left:-150px;
  background:black;
  color:white;
  width:300px;
  font-size:80%;
  padding:5px;
  text-indent:0;
	box-shadow:0px 2px 2px rgba(0,0,0,0.7);
}

section header h2{
	color:white;
	line-height:120%;
}
section header h2.title{
	font-size:110%;
}
section header h2.subtitle{
	font-weight:normal;
	font-size:90%;
}
section header h2.author{
	font-weight:normal;
	font-size:100%;
	font-style:italic;
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover {
    color: #c00;
    text-decoration: none;
}

.frontcover img{
	width:100%;
	height:auto;
}

.frontcover H1, .frontcover .page-number{
	display:none;
} 

@media screen and (max-width:940px){
	body{
		width:100%;
	}
	section.chapter, section.references, section.figures,section.colophon,section.abstract{
		width:96%;	
		margin-left:2%;
	}	
	nav.index{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:40px;
		background:black;
		box-shadow:0px 2px 2px rgba(0,0,0,0.7);
	}
	nav.index ul{
		margin:0;
		height:100%;
	}
	nav.index ul li{
		height:100%;
		float:left;
		text-align:center;
		margin:0;
		width:25%;
		list-style:none;
		padding:0;
		line-height:1em;
		display:block;
	}
	nav.index .essay-link {
		line-height:2.5em;
		display:block;
		color:white;
		height:100%;
		width:100%;
	}
	nav.index .essay-link :active{
		color:yellow;
	}
	
	nav.index .essay-link .author{
		display:none;
		font-weight:bold;
	}
	
	nav.index .essay-link .number{
		display:inline;
		font-weight:bold;
	}
	
	p{
		text-indent:0 !important;
	}
	
	.essay{
		padding-top: 40px; margin-top: -40px;
	}
	

	figure:before{
		display:none;		
	}

	figure:not(.no-counter):after{
		content: "Figure " counter(figures,upper-roman);
		position:absolute;
		font-size:80%;
		font-weight:bold;
	}

	div.footnotes, table{
		margin-left:0;
	}

	ul li{
		list-style: square outside url("../img/cross.svg");
		margin-left:1em;
		padding-left:0em;
	}

	ol li{
		list-style: upper-roman outside;
		margin-left:1em;
		padding-left:0em;
	}
	
}

@media screen and (max-width:650px){
	a.footnoteRef:hover .footnote-tooltip{
		position:fixed;
		left:50%;
		top:50%;
		margin-left:-155px; 
		width:300px;
	}
	
}

@media screen and (min-width:500px){
	
	nav.index .essay-link .author{
		display:inline;
	}
	
	nav.index .essay-link .number{
		display:none;
	}
	
}

@media screen and (min-width:800px) and (max-width:940px){

	nav.index .essay-link .title{
		display:inline;
		font-size:70%;
	}
		
	nav.index .essay-link{
		line-height:1.2em;
	}
	
}

@media screen and (min-width:941px){
	.frontcover{
		position:fixed;
		top:0px;
		width:300px;
		margin-left:-375px;
		padding:10px;
		text-align:right;
	}

	.frontcover .index ul li{
		float:none;
		display:block;
	}

	.frontcover .essay-link .author{
		font-size:120%;
		font-weight:bold;
		color:black;
		padding:3px;
	}

	.frontcover .essay-link .title{
		color:black;
		position:relative;
		top:-0.4em;
		display:none;
		font-size:70%;
	}

	.frontcover img{
		width:100px;
		padding:0;
		float:right;
		margin-bottom:10px;
	}
}
@media screen and (min-width:1024px){
	.frontcover .essay-link .title{
		display:inline;
	}
}