

section.index ul li a.author{
	font-size:200%;
	font-weight: bold;
}

section.index ul li {
	display:block;
	float:left;
	margin:0px;
	padding:0px;
}
section.index ul li:nth-child(even) {
	text-align:right;
	float:right;
}

section header{
	background:black;
	color:white;
	width:94%;
	padding:3%;
	height:150px;
	counter-reset: footnotes;
}

section header h2:first-child{
	width:64%;
	float:left;
	display:block;
	text-align:left;
}

section header h2:nth-child(2){
	width:32%;
	float:right;
	text-align:right;
}

section header h2:nth-child(3){
	width:64%;
	margin-top:3em;
	text-align:left;
}