body {
  counter-reset: chapternum 1;
}

.index{
   page-break-before: always;
}

.index ul{position: absolute; bottom: 0;}

/*.index ul li.page-number, .index ul li.author{font-size: 8pt; color: red;}*/ /* does not seem to work */

.essay {
  counter-increment: chapternum;
  page-break-before: always;
}

/*section{padding: 0;}*/ /* does not remove the huge vertical spaces around the content */

h2.title{string-set: doctitle content(); /* retrieves the content from h2.title - will be used later, in the page bottom*/ }
.references{string-set: doctitle '';} /* clears the page bottom text (otherwise, the title of the last essay will be displayed */


h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

table, figure {
  page-break-inside: avoid;
}

/*sup{
  vertical-align: super;
  line-height: none;
}*/ /* not working */

.frontcover { 
  page: cover; 
  width: 100%;
  height: 100%; 
}

@page {
  size: 5.5in 8.5in;
  /*half US Letter - will use cm in the rest of the file though*/
  counter-increment: page;
  font-family: sans-serif; /* will also be used in the page bottom */
  margin-top:-1.5cm;
  margin-bottom:-1cm; /* negative margins needed to increase the page content area in the page */
}

@page :left {
  margin-left: 2.3cm;
  margin-right: 1.25cm;
  padding:0;
 @bottom-right{
     margin-top: -2.5cm;/* had to use negative margins to place the bottom content in a visible position in the page*/
    /* font-family: inherit; */ /* does not work */
    content: string(doctitle); 
    font-size: 9pt; 
  }
  @bottom-left{
   margin-top: -2.5cm; /* had to use negative margins to place the bottom content in a visible position in the page*/
  	content: counter(page); 
  }  
  
}

@page :right {
  margin-left: 2.0cm;
  margin-right: 2.00cm;
  
  @bottom-left{
    margin-top: -2.5cm;/* had to use negative margins to place the bottom content in a visible position in the page*/
    content: string(doctitle);  
    font-size: 9pt; 
  }
  @bottom-right{
  	 margin-top: -2.5cm;/* had to use negative margins to place the bottom content in a visible position in the page*/
  	content: counter(page); 
  }
  
}

@page :first {
	
   @bottom-right{
  	margin: 0;
  	content: '';  
   }
}
